In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [3]:
## reading csv file
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
## Preprocessing the data
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
## encode categorical variables
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])

In [6]:
## one-hot encode Geography
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
## combine one-hot encoded column with original data
df=pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
## split the data into features and target
X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']

In [9]:
## split the data for training and testing
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)

## scaling the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [10]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [11]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

### ANN Regression

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From d:\DL Project\ANN Classification\dlvenv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [13]:
## Building ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  ## HL1 CONNECTED TO INPUT LAYER
    Dense(32,activation='relu'), ## HL2
    Dense(1)  ## Output layer
]
)

WARNING:tensorflow:From d:\DL Project\ANN Classification\dlvenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [15]:
## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

##setup Tensor Board
log_dir="regressionlogs/fit/"+ datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [17]:
## set up early stoppings
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [18]:
## Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\DL Project\ANN Classification\dlvenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\DL Project\ANN Classification\dlvenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 10ms/step - loss: 100206.6172 - mae: 100206.6172 - val_loss: 99313.4688 - val_mae: 99313.4688
Epoch 2/100
250/250 [==============================] - 1s 6ms/step - loss: 99649.4844 - mae: 99649.4844 - val_loss: 98179.4688 - val_mae: 98179.4688
Epoch 3/100
250/250 [==============================] - 2s 8ms/step - loss: 97681.0859 - mae: 97681.0859 - val_loss: 95246.6562 - val_mae: 95246.6562
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 93708.6562 - mae: 93708.6562 - val_loss: 90184.2656 - val_mae: 90184.2656
Epoch 5/100
250/250 [==============================] - 1s 6ms/step - loss: 87673.8516 - mae: 87673.8516 - val_loss: 83271.7812 - val_mae: 83271.7812
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 80118.4688 - mae: 80118.4688 - val_loss: 75385.0234 - val_mae: 75385.0234
Epoch 7/100
250/250 [==============================] - 1s 6ms/step - loss: 71991.5156 - mae: 71991.5156 - val_loss: 67767.4062 - val_mae: 67767.4062
Epoch 8/100
250/250 [==============================] - 1s 6ms/step - loss: 64473.5234 - mae: 64473.5234 - val_loss: 61330.6719 - val_mae: 61330.6719
Epoch 9/100
250/250 [==============================] - 2s 6ms/step - loss: 58503.1367 - mae: 58503.1367 - val_loss: 56748.3789 - val_mae: 56748.3789
Epoch 10/100
250/250 [==============================] - 1s 6ms/step - loss: 54457.6719 - mae: 54457.6719 - val_loss: 54024.9609 - val_mae: 54024.9609
Epoch 11/100
250/250 [==============================] - 2s 6ms/step - loss: 52109.1211 - mae: 52109.1211 - val_loss: 52504.4844 - val_mae: 52504.4844
Epoch 12/100
250/250 [==============================] - 1s 6ms/step - loss: 50964.1133 - mae: 50964.1133 - val_loss: 51809.8828 - val_mae: 51809.8828
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 50485.4062 - mae: 50485.4062 - val_loss: 51531.1211 - val_mae: 51531.1211
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 50263.8711 - mae: 50263.8711 - val_loss: 51388.8711 - val_mae: 51388.8711
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 50143.3359 - mae: 50143.3359 - val_loss: 51314.6289 - val_mae: 51314.6289
Epoch 16/100
250/250 [==============================] - 1s 6ms/step - loss: 50059.8594 - mae: 50059.8594 - val_loss: 51263.9531 - val_mae: 51263.9531
Epoch 17/100
250/250 [==============================] - 1s 6ms/step - loss: 49989.7656 - mae: 49989.7656 - val_loss: 51223.5625 - val_mae: 51223.5625
Epoch 18/100
250/250 [==============================] - 2s 6ms/step - loss: 49936.0000 - mae: 49936.0000 - val_loss: 51191.7773 - val_mae: 51191.7773
Epoch 19/100
250/250 [==============================] - 1s 6ms/step - loss: 49889.9844 - mae: 49889.9844 - val_loss: 51162.9102 - val_mae: 51162.9102
Epoch 20/100
250/250 [==============================] - 2s 6ms/step - loss: 49846.9570 - mae: 49846.9570 - val_loss: 51136.2031 - val_mae: 51136.2031
Epoch 21/100
250/250 [==============================] - 1s 6ms/step - loss: 49808.3438 - mae: 49808.3438 - val_loss: 51109.7539 - val_mae: 51109.7539
Epoch 22/100
250/250 [==============================] - 1s 6ms/step - loss: 49777.9766 - mae: 49777.9766 - val_loss: 51094.8125 - val_mae: 51094.8125
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 49747.4336 - mae: 49747.4336 - val_loss: 51078.7305 - val_mae: 51078.7305
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49720.5547 - mae: 49720.5547 - val_loss: 51061.4922 - val_mae: 51061.4922
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49696.0781 - mae: 49696.0781 - val_loss: 51051.9414 - val_mae: 51051.9414
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49674.7148 - mae: 49674.7148 - val_loss: 51039.2344 - val_mae: 51039.2344
Epoch 27/100
250/250 [==============================] - 1s 6ms/step - loss: 49653.9648 - mae: 49653.9648 - val_loss: 51026.1211 - val_mae: 51026.1211
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49634.0039 - mae: 49634.0039 - val_loss: 51014.9805 - val_mae: 51014.9805
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 49617.9805 - mae: 49617.9805 - val_loss: 51002.6836 - val_mae: 51002.6836
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 49598.6602 - mae: 49598.6602 - val_loss: 50989.0508 - val_mae: 50989.0508
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49580.7969 - mae: 49580.7969 - val_loss: 50980.3594 - val_mae: 50980.3594
Epoch 32/100
250/250 [==============================] - 1s 6ms/step - loss: 49568.2266 - mae: 49568.2266 - val_loss: 50968.7617 - val_mae: 50968.7617
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49554.1953 - mae: 49554.1953 - val_loss: 50960.4961 - val_mae: 50960.4961
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49537.9297 - mae: 49537.9297 - val_loss: 50952.8906 - val_mae: 50952.8906
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49525.3203 - mae: 49525.3203 - val_loss: 50949.8828 - val_mae: 50949.8828
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 49515.5547 - mae: 49515.5547 - val_loss: 50939.9023 - val_mae: 50939.9023
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 49500.7188 - mae: 49500.7188 - val_loss: 50931.3203 - val_mae: 50931.3203
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 49492.6602 - mae: 49492.6602 - val_loss: 50921.7578 - val_mae: 50921.7578
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 49481.1758 - mae: 49481.1758 - val_loss: 50915.7070 - val_mae: 50915.7070
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49469.3789 - mae: 49469.3789 - val_loss: 50910.4570 - val_mae: 50910.4570
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49460.8320 - mae: 49460.8320 - val_loss: 50904.0039 - val_mae: 50904.0039
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49452.2227 - mae: 49452.2227 - val_loss: 50904.4336 - val_mae: 50904.4336
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 49445.4922 - mae: 49445.4922 - val_loss: 50893.4141 - val_mae: 50893.4141
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49434.2422 - mae: 49434.2422 - val_loss: 50886.3633 - val_mae: 50886.3633
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 49427.8047 - mae: 49427.8047 - val_loss: 50880.5000 - val_mae: 50880.5000
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49422.4609 - mae: 49422.4609 - val_loss: 50876.4688 - val_mae: 50876.4688
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49411.4883 - mae: 49411.4883 - val_loss: 50872.3711 - val_mae: 50872.3711
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49406.1172 - mae: 49406.1172 - val_loss: 50872.1328 - val_mae: 50872.1328
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49396.9297 - mae: 49396.9297 - val_loss: 50863.0000 - val_mae: 50863.0000
Epoch 50/100
250/250 [==============================] - 1s 6ms/step - loss: 49388.1797 - mae: 49388.1797 - val_loss: 50860.6406 - val_mae: 50860.6406
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 49382.5156 - mae: 49382.5156 - val_loss: 50853.1445 - val_mae: 50853.1445
Epoch 52/100
250/250 [==============================] - 2s 6ms/step - loss: 49378.8477 - mae: 49378.8477 - val_loss: 50850.0977 - val_mae: 50850.0977
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 49370.8281 - mae: 49370.8281 - val_loss: 50851.3711 - val_mae: 50851.3711
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49364.9531 - mae: 49364.9531 - val_loss: 50844.0664 - val_mae: 50844.0664
Epoch 55/100
250/250 [==============================] - 1s 6ms/step - loss: 49357.7695 - mae: 49357.7695 - val_loss: 50842.5742 - val_mae: 50842.5742
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 49350.9375 - mae: 49350.9375 - val_loss: 50834.2656 - val_mae: 50834.2656
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 49342.4258 - mae: 49342.4258 - val_loss: 50833.4336 - val_mae: 50833.4336
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49337.1797 - mae: 49337.1797 - val_loss: 50825.5312 - val_mae: 50825.5312
Epoch 59/100
250/250 [==============================] - 1s 6ms/step - loss: 49334.5195 - mae: 49334.5195 - val_loss: 50825.7383 - val_mae: 50825.7383
Epoch 60/100
250/250 [==============================] - 1s 6ms/step - loss: 49327.3164 - mae: 49327.3164 - val_loss: 50819.6055 - val_mae: 50819.6055
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49320.1836 - mae: 49320.1836 - val_loss: 50818.1250 - val_mae: 50818.1250
Epoch 62/100
250/250 [==============================] - 1s 6ms/step - loss: 49314.1992 - mae: 49314.1992 - val_loss: 50818.3672 - val_mae: 50818.3672
Epoch 63/100
250/250 [==============================] - 1s 6ms/step - loss: 49312.1055 - mae: 49312.1055 - val_loss: 50818.1641 - val_mae: 50818.1641
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49305.5938 - mae: 49305.5938 - val_loss: 50813.0117 - val_mae: 50813.0117
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 49304.8633 - mae: 49304.8633 - val_loss: 50813.9805 - val_mae: 50813.9805
Epoch 66/100
250/250 [==============================] - 1s 5ms/step - loss: 49294.5078 - mae: 49294.5078 - val_loss: 50817.3594 - val_mae: 50817.3594
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 49292.1875 - mae: 49292.1875 - val_loss: 50814.4102 - val_mae: 50814.4102
Epoch 68/100
250/250 [==============================] - 1s 5ms/step - loss: 49287.0078 - mae: 49287.0078 - val_loss: 50815.8555 - val_mae: 50815.8555
Epoch 69/100
250/250 [==============================] - 1s 6ms/step - loss: 49284.4375 - mae: 49284.4375 - val_loss: 50817.1797 - val_mae: 50817.1797
Epoch 70/100
250/250 [==============================] - 1s 5ms/step - loss: 49281.4102 - mae: 49281.4102 - val_loss: 50811.0117 - val_mae: 50811.0117
Epoch 71/100
250/250 [==============================] - 1s 6ms/step - loss: 49276.9336 - mae: 49276.9336 - val_loss: 50812.8047 - val_mae: 50812.8047
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 49272.1406 - mae: 49272.1406 - val_loss: 50812.6211 - val_mae: 50812.6211
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 49270.2266 - mae: 49270.2266 - val_loss: 50810.2148 - val_mae: 50810.2148
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 49266.9648 - mae: 49266.9648 - val_loss: 50805.9844 - val_mae: 50805.9844
Epoch 75/100
250/250 [==============================] - 1s 5ms/step - loss: 49261.6328 - mae: 49261.6328 - val_loss: 50808.7891 - val_mae: 50808.7891
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 49258.5078 - mae: 49258.5078 - val_loss: 50803.5859 - val_mae: 50803.5859
Epoch 77/100
250/250 [==============================] - 1s 5ms/step - loss: 49256.3203 - mae: 49256.3203 - val_loss: 50801.3906 - val_mae: 50801.3906
Epoch 78/100
250/250 [==============================] - 1s 5ms/step - loss: 49251.0469 - mae: 49251.0469 - val_loss: 50803.2852 - val_mae: 50803.2852
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 49249.6289 - mae: 49249.6289 - val_loss: 50799.9102 - val_mae: 50799.9102
Epoch 80/100
250/250 [==============================] - 1s 6ms/step - loss: 49246.0781 - mae: 49246.0781 - val_loss: 50800.3594 - val_mae: 50800.3594
Epoch 81/100
250/250 [==============================] - 1s 5ms/step - loss: 49240.6094 - mae: 49240.6094 - val_loss: 50798.7305 - val_mae: 50798.7305
Epoch 82/100
250/250 [==============================] - 1s 4ms/step - loss: 49239.0859 - mae: 49239.0859 - val_loss: 50799.8750 - val_mae: 50799.8750
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 49234.7188 - mae: 49234.7188 - val_loss: 50800.4883 - val_mae: 50800.4883
Epoch 84/100
250/250 [==============================] - 1s 5ms/step - loss: 49229.5977 - mae: 49229.5977 - val_loss: 50800.0742 - val_mae: 50800.0742
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 49230.2656 - mae: 49230.2656 - val_loss: 50799.6055 - val_mae: 50799.6055
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 49227.8828 - mae: 49227.8828 - val_loss: 50795.8828 - val_mae: 50795.8828
Epoch 87/100
250/250 [==============================] - 1s 5ms/step - loss: 49220.9453 - mae: 49220.9453 - val_loss: 50792.0078 - val_mae: 50792.0078
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 49221.7422 - mae: 49221.7422 - val_loss: 50796.5234 - val_mae: 50796.5234
Epoch 89/100
250/250 [==============================] - 1s 5ms/step - loss: 49216.2578 - mae: 49216.2578 - val_loss: 50793.3516 - val_mae: 50793.3516
Epoch 90/100
250/250 [==============================] - 1s 6ms/step - loss: 49214.0938 - mae: 49214.0938 - val_loss: 50794.4727 - val_mae: 50794.4727
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 49212.8555 - mae: 49212.8555 - val_loss: 50793.5938 - val_mae: 50793.5938
Epoch 92/100
250/250 [==============================] - 1s 3ms/step - loss: 49207.6758 - mae: 49207.6758 - val_loss: 50797.2031 - val_mae: 50797.2031
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 49205.6367 - mae: 49205.6367 - val_loss: 50795.1523 - val_mae: 50795.1523
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 49206.6992 - mae: 49206.6992 - val_loss: 50793.3438 - val_mae: 50793.3438
Epoch 95/100
250/250 [==============================] - 1s 5ms/step - loss: 49201.7812 - mae: 49201.7812 - val_loss: 50789.6523 - val_mae: 50789.6523
Epoch 96/100
250/250 [==============================] - 1s 5ms/step - loss: 49199.9570 - mae: 49199.9570 - val_loss: 50790.5742 - val_mae: 50790.5742
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 49198.3086 - mae: 49198.3086 - val_loss: 50786.8398 - val_mae: 50786.8398
Epoch 98/100
250/250 [==============================] - 1s 5ms/step - loss: 49193.4414 - mae: 49193.4414 - val_loss: 50786.8945 - val_mae: 50786.8945
Epoch 99/100
250/250 [==============================] - 1s 5ms/step - loss: 49195.7852 - mae: 49195.7852 - val_loss: 50788.3828 - val_mae: 50788.3828
Epoch 100/100
250/250 [==============================] - 1s 5ms/step - loss: 49188.4219 - mae: 49188.4219 - val_loss: 50788.3594 - val_mae: 50788.3594

In [19]:
%load_ext tensorboard

In [24]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 7060), started 0:00:23 ago. (Use '!kill 7060' to kill it.)

In [25]:
## evaluate the model
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE :{test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50788.3594 - mae: 50788.3594
Test MAE :50788.359375

In [26]:
model.save('regression_model.h5')

d:\DL Project\ANN Classification\dlvenv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(